<div>
<ul>
<% for(var i=0; i < message.length; i++) { %>
   
     <li>
	 <form action= "/edit" method="post">
		<div><input type='hidden' name = 'login' value = <%= message[i].login %>><%= message[i].login %>
			 <button type="submit">Редактировать</button>
		</div>
	 </form>
	 </li>
   
<% } %>
</ul>
</div>
<form action="/logout" method = "post">
    <button type="submit">Logout</button>
</form>