<% layout('../layout') -%>
<form name="calc" action="/calc" method="post">
<div><input type="text" name="first"></div>
<div><input type="text" name="second"></div>
<input type="radio" name="operation" value="minus" checked>-
<input type="radio" name="operation" value="plus">+
<input type= "submit" value="Результат">
</form>