<% layout('../layout') -%>
<form align= "center" name="calc" action="/registration" method="post">
<div><input type="text" name="login"></div>
<div><input type="text" name="password"></div>
<input type="radio" name="gender" value="male" checked>Мужской
<input type="radio" name="gender" value="female">Женский
<div><input align="center" type= "submit" value="Регистрация"></div>
</form>
<p align = "center"><%= message %></p>
<form align="center" name="calc" action="/login" method="post">
<div><input type="text" name="login"></div>
<div><input type="text" name="password"></div>
<input type= "submit" value="Войти">
</form>