<% layout('../layout') -%>
<form name="calc" action="/calc" method="post">
<div><input type="text" name="login"></div>
<div><input type="text" name="password"></div>
<input type="radio" name="gender" value="male" checked>Мужской
<input type="radio" name="gender" value="female">Женский
<input type= "submit" value="Регистрация">
</form>
<p>Результат:<%= message %></p>